.login__main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: Min(70rem, 90%);

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 3em;
        background-color: rgb(243, 237, 237);
        h1 {
            padding-bottom: 5px;
            border-bottom: 1px solid black;
        }

        button {
            margin: 0;
            margin-top: 1em;
            width: 100%;
        }

        .warningbox {
            width: 100%;
            text-align: center;
            padding: 1em 0;
            background-color: rgba(238, 13, 13, 0.308);
            box-shadow: 0 0 0.5em 0.1em rgba(238, 13, 13, 0.308);
            color: black;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            font-weight: 900;
            font-size: $fz-CTextHeader;
            animation: showWarningFrame linear 0.5s;
        }

        a {
            text-align: center;
        }
    }

    .wrapper {
        display: flex;
        gap: 20px;

        label {
            font-size: $fz-CTextHeader;
        }

        > * {
            flex: 1;
        }
        input {
            padding: 0.5em;
            border-radius: 5px;
            outline: none;
            font-size: $fz-CText;
            border: none;
            box-shadow: 0 0 0.5em 2px rgba(0, 0, 0, 0.164);
        }
    }
}

@keyframes showWarningFrame {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
